<div class="row fondo">
    <div class="col-3">
        <img src="assets/imagenes/icono.png" class="icono" />
    </div>
    <div class="col-6 text-center">
        <p class="margin-titulo titulo">Amigo de los lomintos</p>
    </div>
</div>