.example-table {
    width: 100%;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .margin-top-25{
    margin-top: 25px;
  }

  .boton-redondo {
    width: 30px;
    height: 30px;
    padding: 1px 0px;
    border-radius: 15px;
    font-size: 8px;
  }

  .mensaje{
    font-size: 25px;
    font-weight: bold;
  }