
<div class="row">
  <div class="margin-top-25 col-12" >
    <div *ngIf="mostrarAlerta == true" class="alert mensaje text-center" [ngClass]="{'alert-primary': colorAlerta === 'guardado', 'alert-secondary': colorAlerta === 'editar', 'alert-warning': colorAlerta === 'borrar'}" role="alert">
      {{mensajeAlerta}}
    </div>
  </div>
  <div class="text-center margin-top-25" [ngClass]="{'col-12': animales.length === 0,'col-3': animales.length > 0 }">
    <button type="button" class="btn btn-outline-primary" [ngClass]="{'btn-lg btn-block': animales.length === 0,'boton-redondo': animales.length > 0 }" (click)="agregarNuevaMascota()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <form *ngIf="animales.length > 0" class="col-9 margin-top-25 text-right" [formGroup]="buscadorAnimales">
    <mat-form-field class="example-full-width">
      <mat-label>Ingresa la mascota que buscas</mat-label>
      <input maxlength="100" matInput placeholder="Buscar mascota" formControlName="mascota" (input)="filtrarAnimales()">
      <mat-hint align="start"><strong>Mascota</strong></mat-hint>
      <mat-hint align="end">Total de mascotas encontradas {{animales.length}}</mat-hint>
    </mat-form-field>
  </form>  
  
  <div *ngIf="animales.length > 0" class="col-12 margin-top-25">
    <mat-table class="example-table mat-elevation-z8" [dataSource]="animales">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let animal; let i = index">{{ i + 1 }}</mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let animal">{{ animal.nombre }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="edad">
        <mat-header-cell *matHeaderCellDef> edad </mat-header-cell>
        <mat-cell *matCellDef="let animal">{{ animal.edad }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="especie">
        <mat-header-cell *matHeaderCellDef> Especie </mat-header-cell>
        <mat-cell *matCellDef="let animal">{{ animal.especie }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="raza">
        <mat-header-cell *matHeaderCellDef> Raza </mat-header-cell>
        <mat-cell *matCellDef="let animal">{{ animal.raza }}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="editar">
          <mat-header-cell *matHeaderCellDef> Editar </mat-header-cell>
          <mat-cell *matCellDef="let animal">
            <button type="button" class="btn btn-outline-alert-secondary boton-redondo" (click)="seccionInputs(animal)">
              <mat-icon>edit</mat-icon>
            </button>
          </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="borrar">
          <mat-header-cell *matHeaderCellDef> Borrar </mat-header-cell>
          <mat-cell *matCellDef="let animal">
            <button class="btn btn-outline-alert-warning boton-redondo" (click)="borrarAnimal(animal)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
      </ng-container>
      <!-- Agrega más columnas según sea necesario -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>

  <form class="col-12 margin-top-25" [formGroup]="obtenerAnimales">
    <div *ngIf="abrirInputs == true"  class="row">
      <div class="col-3">
        <mat-form-field class="example-full-width" >
          <mat-label>Ingresa el nombre</mat-label>
          <input matInput #messageNombre maxlength="100" placeholder="Ingresa el nombre..." formControlName="nombre">
          <mat-hint align="start"><strong>Nombre</strong> </mat-hint>
          <mat-hint align="end">{{messageNombre.value.length}} / 100</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field class="example-full-width" >
          <mat-label>Ingresa la edad</mat-label>
          <input matInput #messageEdad maxlength="100" placeholder="Ingresa la edad..." formControlName="edad">
          <mat-hint align="start"><strong>Edad</strong> </mat-hint>
          <mat-hint align="end">{{messageEdad.value.length}} / 100</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field class="example-full-width" >
          <mat-label>Ingresa la especie</mat-label>
          <input matInput #messageEspecie maxlength="100" placeholder="Ingresa la especie..." formControlName="especie">
          <mat-hint align="start"><strong>Especie</strong> </mat-hint>
          <mat-hint align="end">{{messageEspecie.value.length}} / 100</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field class="example-full-width" >
          <mat-label>Ingresa la raza</mat-label>
          <input matInput #messageRaza maxlength="100" placeholder="Ingresa la raza..." formControlName="raza">
          <mat-hint align="start"><strong>Raza</strong> </mat-hint>
          <mat-hint align="end">{{messageRaza.value.length}} / 100</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-12  margin-top-25">
        <button type="button" class="btn btn-lg btn-block" [ngClass]="{'btn-outline-primary': textoBoton === 'Guardar datos' && obtenerAnimales.valid, 'btn-outline-secondary': textoBoton === 'Cambiar datos','btn-outline-danger': textoBoton === 'Guardar datos' && !obtenerAnimales.valid}" (click)="editarAnimal()" [disabled]="textoBoton === 'Guardar datos' && !obtenerAnimales.valid"> {{textoBoton}} </button>
      </div>
    </div>
  </form>

</div>      


  